# 0: Setting up files

In [11]:
import pandas as pd

In [12]:
tripsFullDataDF = pd.read_csv('../datasets/Trips_Full Data (2).csv')

# 1: Examining the dataset

In [13]:
tripsFullDataDF

,Month of Date,Week of Date,Year of Date,Level,Date,Week Ending Date,Trips <1 Mile,People Not Staying at Home,Population Staying at Home,Trips,...,Trips 10-25 Miles,Trips 100-250 Miles,Trips 100+ Miles,Trips 25-100 Miles,Trips 25-50 Miles,Trips 250-500 Miles,Trips 3-5 Miles,Trips 5-10 Miles,Trips 50-100 Miles,Trips 500+ Miles
0,August,Week 32,2019,National,8/4/2019 0:00,10-Aug-19,292959749,258404133,67763287,1322685497,...,200922270,8595827,15338786,79429125,59517188,2273613,171336406,216121882,19911937,4469346
1,August,Week 32,2019,National,8/5/2019 0:00,10-Aug-19,317133861,262199758,63967662,1412564488,...,228809869,6535920,12563068,86004297,68184743,1941260,178996059,231048425,17819554,4085888
2,August,Week 32,2019,National,8/6/2019 0:00,10-Aug-19,324443205,260096133,66071287,1437762102,...,235621127,5993704,11104823,87599579,70149166,1741994,179210645,233248732,17450413,3369125
3,August,Week 32,2019,National,8/7/2019 0:00,10-Aug-19,358483024,258878802,67288618,1543710309,...,249988663,5379881,8528574,92200386,74381367,1272248,189163336,243872277,17819019,1876445
4,August,Week 32,2019,National,8/8/2019 0:00,10-Aug-19,300765870,262410045,63757375,1382044815,...,226055368,6259735,12892348,84193587,66724543,1957888,179346163,230933709,17469044,4674725
5,August,Week 32,2019,National,8/9/2019 0:00,10-Aug-19,341515854,272101417,54066003,1501571863,...,245571995,7635743,12256537,95005653,74512584,1823661,186257669,242027669,20493069,2797133
6,August,Week 32,2019,National,8/10/2019 0:00,10-Aug-19,346532975,267638064,58529356,1491503216,...,230580285,7550100,12173176,91829556,70644329,1794030,186580557,236858554,21185227,2829046

## Checking dataset information

In [14]:
tripsFullDataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Month of Date               7 non-null      object
 1   Week of Date                7 non-null      object
 2   Year of Date                7 non-null      int64
 3   Level                       7 non-null      object
 4   Date                        7 non-null      object
 5   Week Ending Date            7 non-null      object
 6   Trips <1 Mile               7 non-null      int64
 7   People Not Staying at Home  7 non-null      int64
 8   Population Staying at Home  7 non-null      int64
 9   Trips                       7 non-null      int64
 10  Trips 1-25 Miles            7 non-null      int64
 11  Trips 1-3 Miles             7 non-null      int64
 12  Trips 10-25 Miles           7 non-null      int64
 13  Trips 100-250 Miles         7 non-null      int64
 14  Trips 100+ Miles            7 non-null      int64
 15  Trips 25-100 Miles          7 non-null      int64
 16  Trips 25-50 Miles           7 non-null      int64
 17  Trips 250-500 Miles         7 non-null      int64
 18  Trips 3-5 Miles             7 non-null      int64
 19  Trips 5-10 Miles            7 non-null      int64
 20  Trips 50-100 Miles          7 non-null      int64
 21  Trips 500+ Miles            7 non-null      int64
dtypes: int64(17), object(5)
memory usage: 1.3+ KB

## Checking how many null values there are under each column

In [15]:
tripsFullDataDF.isnull().sum()

Month of Date                 0
Week of Date                  0
Year of Date                  0
Level                         0
Date                          0
Week Ending Date              0
Trips <1 Mile                 0
People Not Staying at Home    0
Population Staying at Home    0
Trips                         0
Trips 1-25 Miles              0
Trips 1-3 Miles               0
Trips 10-25 Miles             0
Trips 100-250 Miles           0
Trips 100+ Miles              0
Trips 25-100 Miles            0
Trips 25-50 Miles             0
Trips 250-500 Miles           0
Trips 3-5 Miles               0
Trips 5-10 Miles              0
Trips 50-100 Miles            0
Trips 500+ Miles              0
dtype: int64

## Checking how many duplicate rows there are

In [16]:
tripsFullDataDF.duplicated().sum()

np.int64(0)

# Handling missing values & Correcting values and columns

* There are no duplicates nor missing values.
* All there is to do is to correct the 'date' column. It is of object data type instead of datetime.

In [17]:
tripsFullDataDF['Date'] = pd.to_datetime(tripsFullDataDF['Date'], errors = 'coerce')

## Converting values to standard notation instead of scientific notation

- I done this with ```.applymap()``` instead of ```.map()```. Map is the updated version. Can't run this code again.

In [18]:
columnstoFix = list(tripsFullDataDF.loc[:, 'Trips <1 Mile':'Trips 500+ Miles'].columns)

tripsFullDataDF[columnstoFix] = tripsFullDataDF[columnstoFix].map(lambda x: '{:.0f}'.format(x))

## Saving cleaned dataset

In [19]:
tripsFullDataDF.to_csv('../datasets/cleaned-datasets/Trips_Full_Data-cleaned.csv', index = False)