# Setting up files

In [2]:
import pandas as pd

In [3]:
tripsByDistanceDF = pd.read_csv('../datasets/Trips_by_Distance (1).csv')

# Examining the dataset

In [16]:
tripsByDistanceDF

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,County,2021-06-06,56.0,WY,56045.0,Weston County,1268,5659,22471,4160,...,1558,5723,2202,3930,1160,166,23,56-56045-20210606,23,6
1,County,2021-06-06,5.0,AR,5011.0,Bradley County,1780,8983,25022,3411,...,4321,3343,1793,1383,690,35,0,05-05011-20210606,23,6
2,County,2021-06-06,5.0,AR,5013.0,Calhoun County,571,4618,17543,2166,...,3600,4277,1141,530,425,41,0,05-05013-20210606,23,6
3,County,2021-06-06,5.0,AR,5015.0,Carroll County,4386,23994,77047,14712,...,13170,14712,4272,1227,1323,132,36,05-05015-20210606,23,6
4,County,2021-06-06,5.0,AR,5017.0,Chicot County,1356,8762,31550,9483,...,3929,3857,1380,580,957,61,4,05-05017-20210606,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988768,County,2019-11-01,19.0,IA,19185.0,Wayne County,1360,5081,28297,5784,...,4114,7260,5522,2398,530,25,3,19-19185-20191101,43,11
988769,County,2019-11-01,19.0,IA,19187.0,Webster County,7633,28271,166016,32150,...,6450,30274,6826,5116,1058,243,95,19-19187-20191101,43,11
988770,County,2019-11-01,19.0,IA,19189.0,Winnebago County,2377,7977,40352,9789,...,6670,8829,4652,1101,115,52,40,19-19189-20191101,43,11
988771,County,2019-11-01,19.0,IA,19191.0,Winneshiek County,3972,16019,78526,16644,...,12374,19696,6665,3832,216,54,0,19-19191-20191101,43,11
988772,County,2019-11-01,19.0,IA,19193.0,Woodbury County,19419,83688,541096,164342,...,73881,53044,16927,7606,3319,123,77,19-19193-20191101,43,11

## Checking dataset information

In [17]:
tripsByDistanceDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988773 entries, 0 to 988772
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Level                           988773 non-null  object
 1   Date                            988773 non-null  object
 2   State FIPS                      988773 non-null  float64
 3   State Postal Code               988773 non-null  object
 4   County FIPS                     988773 non-null  float64
 5   County Name                     988773 non-null  object
 6   Population Staying at Home      988773 non-null  int64
 7   Population Not Staying at Home  988773 non-null  int64
 8   Number of Trips                 988773 non-null  int64
 9   Number of Trips <1              988773 non-null  int64
 10  Number of Trips 1-3             988773 non-null  int64
 11  Number of Trips 3-5             988773 non-null  int64
 12  Number of Trips 5-10            988773 non-null  int64
 13  Number of Trips 10-25           988773 non-null  int64
 14  Number of Trips 25-50           988773 non-null  int64
 15  Number of Trips 50-100          988773 non-null  int64
 16  Number of Trips 100-250         988773 non-null  int64
 17  Number of Trips 250-500         988773 non-null  int64
 18  Number of Trips >=500           988773 non-null  int64
 19  Row ID                          988773 non-null  object
 20  Week                            988773 non-null  int64
 21  Month                           988773 non-null  int64
dtypes: float64(2), int64(15), object(5)
memory usage: 166.0+ MB

## Checking for missing values

In [18]:
tripsByDistanceDF.isnull().sum()

Level                             0
Date                              0
State FIPS                        0
State Postal Code                 0
County FIPS                       0
County Name                       0
Population Staying at Home        0
Population Not Staying at Home    0
Number of Trips                   0
Number of Trips <1                0
Number of Trips 1-3               0
Number of Trips 3-5               0
Number of Trips 5-10              0
Number of Trips 10-25             0
Number of Trips 25-50             0
Number of Trips 50-100            0
Number of Trips 100-250           0
Number of Trips 250-500           0
Number of Trips >=500             0
Row ID                            0
Week                              0
Month                             0
dtype: int64

# Checking for duplicates

* There are no duplicate rows so no work will be done to remove any duplicate rows.

In [5]:
tripsByDistanceDF.duplicated().sum()

np.int64(0)

# Handling missing values & Correcting values and columns

## Dropping all rows that have missing values

In [ ]:
tripsByDistanceDF.dropna(inplace = True)

## Correcting columns with incorrect data type

* Date: Datetime instead of object.
* All 'number of ___' and 'Population' columns should be int instead of float.

In [21]:
tripsByDistanceDF['Date'] = pd.to_datetime(tripsByDistanceDF['Date'], errors = 'coerce')

- This code is already executed and cannot be executed again otherwise there will be an error.

In [22]:
numberOfColumns = ['Number of Trips', 'Number of Trips <1', 'Number of Trips 1-3', 'Number of Trips 3-5', 
                   'Number of Trips 5-10',
                   'Number of Trips 10-25',
                   'Number of Trips 25-50',
                   'Number of Trips 50-100',
                   'Number of Trips 100-250',
                   'Number of Trips 250-500',
                   'Number of Trips >=500']

tripsByDistanceDF[numberOfColumns] = tripsByDistanceDF[numberOfColumns].astype(int)

I forgot to add the population columns in the big list so i am changing those columns to be int data type here.

In [23]:
populationColumns = ['Population Staying at Home',
                   'Population Not Staying at Home']

tripsByDistanceDF[populationColumns] = tripsByDistanceDF[populationColumns].astype(int)

In [24]:
tripsByDistanceDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988773 entries, 0 to 988772
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Level                           988773 non-null  object
 1   Date                            988773 non-null  datetime64[ns]
 2   State FIPS                      988773 non-null  float64
 3   State Postal Code               988773 non-null  object
 4   County FIPS                     988773 non-null  float64
 5   County Name                     988773 non-null  object
 6   Population Staying at Home      988773 non-null  int64
 7   Population Not Staying at Home  988773 non-null  int64
 8   Number of Trips                 988773 non-null  int64
 9   Number of Trips <1              988773 non-null  int64
 10  Number of Trips 1-3             988773 non-null  int64
 11  Number of Trips 3-5             988773 non-null  int64
 12  Number of Trips 5-10            988773 non-null  int64
 13  Number of Trips 10-25           988773 non-null  int64
 14  Number of Trips 25-50           988773 non-null  int64
 15  Number of Trips 50-100          988773 non-null  int64
 16  Number of Trips 100-250         988773 non-null  int64
 17  Number of Trips 250-500         988773 non-null  int64
 18  Number of Trips >=500           988773 non-null  int64
 19  Row ID                          988773 non-null  object
 20  Week                            988773 non-null  int64
 21  Month                           988773 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(15), object(4)
memory usage: 166.0+ MB

## Saving cleaned dataset

In [25]:
tripsByDistanceDF.to_csv('../datasets/cleaned-datasets/Trips_by_Distance-cleaned.csv', index = False)