# Setting up files

In [23]:
import pandas as pd

In [24]:
tripsByDistanceDF = pd.read_csv('../datasets/Trips_by_Distance (1).csv')

# Examining the dataset

In [25]:
tripsByDistanceDF

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,1/1/2019,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,1/2/2019,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,1/3/2019,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,1/4/2019,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,1/5/2019,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,County,11/1/2019,19.0,IA,19185.0,Wayne County,1360.0,5081.0,2.829700e+04,5784.0,...,4114.0,7260.0,5522.0,2398.0,530.0,25.0,3.0,19-19185-20191101,43,11
1048571,County,11/1/2019,19.0,IA,19187.0,Webster County,7633.0,28271.0,1.660160e+05,32150.0,...,6450.0,30274.0,6826.0,5116.0,1058.0,243.0,95.0,19-19187-20191101,43,11
1048572,County,11/1/2019,19.0,IA,19189.0,Winnebago County,2377.0,7977.0,4.035200e+04,9789.0,...,6670.0,8829.0,4652.0,1101.0,115.0,52.0,40.0,19-19189-20191101,43,11
1048573,County,11/1/2019,19.0,IA,19191.0,Winneshiek County,3972.0,16019.0,7.852600e+04,16644.0,...,12374.0,19696.0,6665.0,3832.0,216.0,54.0,0.0,19-19191-20191101,43,11
1048574,County,11/1/2019,19.0,IA,19193.0,Woodbury County,19419.0,83688.0,5.410960e+05,164342.0,...,73881.0,53044.0,16927.0,7606.0,3319.0,123.0,77.0,19-19193-20191101,43,11

## Checking dataset information

In [26]:
tripsByDistanceDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 22 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   Level                           1048575 non-null  object
 1   Date                            1048575 non-null  object
 2   State FIPS                      1047674 non-null  float64
 3   State Postal Code               1047674 non-null  object
 4   County FIPS                     1001723 non-null  float64
 5   County Name                     1001723 non-null  object
 6   Population Staying at Home      1035625 non-null  float64
 7   Population Not Staying at Home  1035625 non-null  float64
 8   Number of Trips                 1035625 non-null  float64
 9   Number of Trips <1              1035625 non-null  float64
 10  Number of Trips 1-3             1035625 non-null  float64
 11  Number of Trips 3-5             1035625 non-null  float64
 12  Number of Trips 5-10            1035625 non-null  float64
 13  Number of Trips 10-25           1035625 non-null  float64
 14  Number of Trips 25-50           1035625 non-null  float64
 15  Number of Trips 50-100          1035625 non-null  float64
 16  Number of Trips 100-250         1035625 non-null  float64
 17  Number of Trips 250-500         1035625 non-null  float64
 18  Number of Trips >=500           1035625 non-null  float64
 19  Row ID                          1048575 non-null  object
 20  Week                            1048575 non-null  int64
 21  Month                           1048575 non-null  int64
dtypes: float64(15), int64(2), object(5)
memory usage: 176.0+ MB

## Checking for missing values

In [27]:
tripsByDistanceDF.isnull().sum()

Level                                 0
Date                                  0
State FIPS                          901
State Postal Code                   901
County FIPS                       46852
County Name                       46852
Population Staying at Home        12950
Population Not Staying at Home    12950
Number of Trips                   12950
Number of Trips <1                12950
Number of Trips 1-3               12950
Number of Trips 3-5               12950
Number of Trips 5-10              12950
Number of Trips 10-25             12950
Number of Trips 25-50             12950
Number of Trips 50-100            12950
Number of Trips 100-250           12950
Number of Trips 250-500           12950
Number of Trips >=500             12950
Row ID                                0
Week                                  0
Month                                 0
dtype: int64

# Checking for duplicates

* There are no duplicate rows so no work will be done to remove any duplicate rows.

In [28]:
tripsByDistanceDF.duplicated().sum()

np.int64(0)

# Handling missing values & Correcting values and columns

## Dropping all rows that have missing values

In [29]:
tripsByDistanceDF.dropna(inplace = True)

## Correcting columns with incorrect data type

* Date: Datetime instead of object.
* All 'number of ___' and 'Population' columns should be int instead of float.

In [30]:
tripsByDistanceDF['Date'] = pd.to_datetime(tripsByDistanceDF['Date'], errors = 'coerce')

- This code is already executed and cannot be executed again otherwise there will be an error.

In [34]:
numberOfColumns = ['Number of Trips', 'Number of Trips <1', 'Number of Trips 1-3', 'Number of Trips 3-5', 
                   'Number of Trips 5-10',
                   'Number of Trips 10-25',
                   'Number of Trips 25-50',
                   'Number of Trips 50-100',
                   'Number of Trips 100-250',
                   'Number of Trips 250-500',
                   'Number of Trips >=500']

tripsByDistanceDF[numberOfColumns] = tripsByDistanceDF[numberOfColumns].astype(int)

I forgot to add the population columns in the big list so i am changing those columns to be int data type here.

In [32]:
populationColumns = ['Population Staying at Home',
                   'Population Not Staying at Home']

tripsByDistanceDF[populationColumns] = tripsByDistanceDF[populationColumns].astype(int)

In [ ]:
df[['Num']]

In [37]:
tripsByDistanceDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988773 entries, 21061 to 1048574
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Level                           988773 non-null  object
 1   Date                            988773 non-null  datetime64[ns]
 2   State FIPS                      988773 non-null  float64
 3   State Postal Code               988773 non-null  object
 4   County FIPS                     988773 non-null  float64
 5   County Name                     988773 non-null  object
 6   Population Staying at Home      988773 non-null  int64
 7   Population Not Staying at Home  988773 non-null  int64
 8   Number of Trips                 988773 non-null  int64
 9   Number of Trips <1              988773 non-null  int64
 10  Number of Trips 1-3             988773 non-null  int64
 11  Number of Trips 3-5             988773 non-null  int64
 12  Number of Trips 5-10            988773 non-null  int64
 13  Number of Trips 10-25           988773 non-null  int64
 14  Number of Trips 25-50           988773 non-null  int64
 15  Number of Trips 50-100          988773 non-null  int64
 16  Number of Trips 100-250         988773 non-null  int64
 17  Number of Trips 250-500         988773 non-null  int64
 18  Number of Trips >=500           988773 non-null  int64
 19  Row ID                          988773 non-null  object
 20  Week                            988773 non-null  int64
 21  Month                           988773 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(15), object(4)
memory usage: 173.5+ MB